/*MENU
0 -Geral
1 - Nav Bar
2 - Section 1
3 - Section 2
*/

/* 0 - Geral */

:root {
    --rosa-primario: #FFB6C0;
    --rosa-secundario: rgba(255,182,192,0.8);

    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
    --cinza-secundario: #CECECE;
}

@font-face {
    font-family: "Titan";
    src: url(../fonts/TitanOne-Regular.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
}

/* 1 - Nav Bar */

header {
    width: 90%;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 15px 5px;
    font-size: 1.125em;
}

nav a {
    color: var(--branco-secundario);
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--rosa-secundario);
    transition: 0.3s;
}

/* seletores com pseudo-elemento */
nav ul li:nth-child(2)::before,
nav ul li:nth-child(3)::before,
nav ul li:nth-child(4)::before {
    display: inline-block;
    content: "";
    height: 35px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    left: -7px; /*ou right: 7px;*/
} 

/* 2 - Section 1 */

.home {
    background-image: url("../img/animal.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    font-family: "Titan";
}

.home .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h1 {
    font-size: 4em;
    letter-spacing: 4px;

}

.home .icons {
    margin: 50px 0;
}

.home .icons-content {
    width: 75px;
    height: 75px;
}

#central {
    margin: 0 20%;
}

.home .more {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .more p {
    font-size: 1.5em;
    font-family: "Comfortaa";
    color: var(--branco-primario);
    margin-bottom: 5%;
}

.home .arrow {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-left: solid 8px var(--branco-secundario);
    border-bottom: solid 8px var(--branco-secundario);
    transform: rotate(-45deg);
    border-radius: 10%;
}

.title-h2 {
    position: relative;
    width: 194px;
    height: 30px;
    top: 100px;
    left: 583px;
    color: var(--rosa-primario);
    font-family: "Titan";
    font-size: 1.625em;
    text-align: center;
}

.texto-quem-somos {
    position: relative;
}

.quem-somos #descricao {
    position: relative;
    width: 992px;
    height: 89px;
    left: 178px;
    top: 178px;
    font-family: "Comfortaa";
    font-size: 16px;
    text-align: center;
}

.imagem-quem-somos .imagem-cachorro {
    position: relative;
    top: 229px;
    left: 150px;
    border-radius: 4px;
}

.imagem-quem-somos .imagem-gato {
    position: relative;
    top: 481px;
    left: 50px;
    border-radius: 4px;
    z-index: 1;
}

.citacao {
    width: 251px;
    height: 301px;
    font-family: "Comfortaa";
    border: 1px solid var(--rosa-primario);
    position: relative;
    top: 335px;
    left: 415px;
}

.citacao p {
    text-align: left;
    color: var(--rosa-primario);
    padding: 20px;
}

/* Section -7 - footer*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    /* display: table-cell; */
}

.footer {
    display: table-cell;
    text-align: center;
    background-color: var(--cinza-secundario);
    height: 100px;
}
